.innerGrid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-gap: 3.5%;
    overflow-y: scroll;
}


.item{
    height: 4.5vh;
    width: 5vh;
    border: 3px solid lightcoral;
}

.occupied{
    border-color:  darkblue;
}

.raised{
    border-color: goldenrod;
    border-style: double;
}