
.flex-container-Notifications{
    display: grid;
    grid-template-columns: 70% 30%; 
}
.Comittee-Name, .Current-Topic, .Speaker, .Time-Left{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500%;
    font-size: 105%;
    padding-left: 3px;
}

.Progress-Bar{
    width: 100%;
    align-self: center;
}

.time-left-topic, .time-left-speaker {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}