
.sessionDetails{
    flex-direction: column;
    align-items: flex-start;
}
.committee-Name, .Current-Topic, .Speaker, .Time-Left{
    font-weight: 500%;
    font-size: 103%;
    padding-left: 0.5%;
    padding-bottom: 1%;
}

.time-left-topic, .time-left-speaker {
    font-size: 110%;
    font-weight: 500;
    padding: 2%;
}

hr{
    width: 50%;
    margin: 0;
}

.last{
    background-color: #6e242434;
    border-radius: 50px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
}

.timer{
    color:black;
}