#csvTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#csvTable td, #csvTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#csvTable tr:nth-child(even){background-color: #f2f2f2;}

#csvTable tr:hover {background-color: #ddd;}

#csvTable th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: maroon;
  color: white;
}