.Notif-Text{
   color: white;
}

.NotifHeader{
   background-color:#aa2e25 !important;
   color: white;
}


.NotifHeaderText{
   font-size: 1rem;
}


.NotifTextInit{
   font-size: 0.8rem;
   color: '#ffcf33' !important;
}

.NotifTextMsg{
   font-size: 0.8rem;
   margin-left: 3;
}